<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".\static\AutoScrollLogos.css">
</head>
<body>
    
    <div class="carousel basic">
        <div class="group">
        <div class="card">
            <img src=".\static\images\LogoClientes\LOGO ATUALIZADA AGROVEICULOS.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\LOGO.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\Prancheta 1.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\GOLMINI.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\LC-LOGO2-1.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\fachada_dallim.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\logo manos PNG Branca_.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\LOGO EM PNG 02.png">
        </div>
    </div>

    <div class="group">
        <div class="card">
            <img src=".\static\images\LogoClientes\LOGO ATUALIZADA AGROVEICULOS.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\LOGO.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\Prancheta 1.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\GOLMINI.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\LC-LOGO2-1.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\fachada_dallim.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\logo manos PNG Branca_.png">
        </div>
        <div class="card">
            <img src=".\static\images\LogoClientes\LOGO EM PNG 02.png">
        </div>
    </div>
    </div>
{% block scroll%}
{% endblock scroll%}
</body>
</html>