<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/galeriaArtes.css" >
</head>
<body>

{# Nav Bar #}
    <header class="header">
        <a href="/">
            <img src="{{ url_for('static', filename='./images/logo/ATIVA_FILMS.png') }}">
        </a>
        <nav>
            <ul class="menu">
                <li class="text"><a href="/">Inicio</a></li>
                <li class="text"><a href="#clientes">Contato</a></li>
                <li class="text"><a href="#orcamento">Orçamento</a></li>
            </ul>
        </nav>
    </header>

{# Galeria Fotos #}
    <section class="box1">
    <h2>ARTES PARA REDES SOCIAIS</h2>
    <div class="gallery">
        {% for filename in artesFeed %}
            <div class="image">
                <img src="{{ url_for('static', filename='./images/Artes/Feed/' + filename) }}">
            </div>
        {% endfor %}
        {% for filename in artesStorie %}
            <div class="image">
                <img src="{{ url_for('static', filename='./images/Artes/Storie/' + filename) }}">
            </div>
        {% endfor %}
    </div>
{# Botão solicitar orçamento #}
<div class="Botao" id="orcamento">
    <h1>Peça seu orçamento</h1>
    <a href="#">
        <p class="buttom" >Solicitar</p>
    </a>
</div>

{# RodaPé #}
    <footer>
        <div1 class="align">
            <img src="{{url_for('static', filename='./images/logo/ATIVA_FILMS.png')}}">
            <p> Todos os direitos reservados 2024-{{ano}}</p>
        </div1>
    </footer>
</body>
</html>