<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/GaleriaSites.css" >
</head>
<body>
    
<div>
    <img src="{{ url_for('static', filename='./images/logo/ATIVA_FILMS.png') }}">
</div>

<div class="my-loader">
    <div class="rubiks-cube">
      <div class="face front">
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ffffff;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
      </div>
  
      <div class="face back">
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ffffff;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
      </div>
      <div class="face left">
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #ffffff;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
      </div>
      <div class="face right">
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ffffff;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
      </div>
      <div class="face top">
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #ffffff;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
      </div>
      <div class="face bottom">
        <div style="background: #ffffff;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
        <div style="background: #ffeb3b;" class="cube"></div>
        <div style="background: #4caf50;" class="cube"></div>
        <div style="background: #2196f3;" class="cube"></div>
        <div style="background: #ffffff;" class="cube"></div>
        <div style="background: #ff3d00;" class="cube"></div>
      </div>
    </div>
  </div>
  

<section>
    <h2>EM BREVE
    <p>Página em construção</p>
    </h2>
</section>

<div class="Botao" id="orcamento">
    <a href="/">
        <p class="buttom" >VOLTAR</p>
    </a>
</div>

</body>
</html>